#background{
	margin-top: 20px;
}

.container{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid gray;
	background: white;
}

.linkedln{
	background: gray;
}

.profile-picture{
	margin-top: 20px;
    width: 200px;
    height: 200px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.profile-overview {
	margin-left: 10px;

}

#topcard #name{
	font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
}

#topcard .extra-info td {
    font-size: 12px;
    line-height: 20px;
    color: #333;
    font-weight: normal;
    padding-right: 10px;
}

a.read-more, a.read-less {
	cursor: pointer;
	color: blue;
}
span.more-text {
	display: none;
} 
span.more-text.show {
		display: inline !important
}

.experience-item{
	margin-top: 10px;
	margin-bottom: 10px;
}

.experience-img{
	text-align: center;
}

.info{
	background: white;
	border: 1px solid black;
}

.background{
	background: white;
	border: 1px solid black;
	margin-bottom: 20px;
}

.skill{
	margin-bottom: 10px;
}

