<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="linkedlnApp" ng-controller="ProfileCtrl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{jeffweiner.name}}</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script> 
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body class="linkedln">
  <div id="topcard" class="container linkedln">
    <div class="col-xs-8 col-xs-offset-2 info">
      <div class="col-xs-3 profile-picture"> <!-- Avatar -->
        <img ng-src="{{jeffweiner.imgUrl}}" alt="Avatar" />
      </div>

      <div class="col-xs-8 profile-overview">
        <h1><a href="#" editable-text="jeffweiner.name" e-form="textBtnForm">{{ jeffweiner.name || "empty" }}</a>&nbsp<button class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><img src="img/edit.png" alt="Edit">
        </button></h1>
        
        <p><a href="#" editable-text="jeffweiner.headline">{{jeffweiner.headline || 'empty'}}</a></p>
        <span><a href="#" editable-text="jeffweiner.location">{{jeffweiner.location || 'empty'}}</a></span>
        <br>
        <div ng-controller="EditableTableCtrl">
          <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <table class="extra-info" class="table table-bordered table-hover table-condensed">
              <tr ng-repeat = "over in jeffweiner.overview | filter:filterRow">
                <td><span editable-text="over.type" e-form="tableform" onbeforesave="checkName($data)">{{over.type || 'empty'}}</span></td>
                <td><span editable-text="over.content" e-form="tableform" onbeforesave="checkName($data)">{{over.content || 'empty'}}</span></td>
                <td><button type="button" ng-show="tableform.$visible" ng-click="deleteRow(over.id)" class="btn btn-danger pull-right">Del</button></td>
              </tr>
            </table>
            <div class="btn-edit">
              <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                Edit
              </button>
            </div>
            <br>
            <div class="btn-form" ng-show="tableform.$visible">
              <button type="button" ng-disabled="tableform.$waiting" ng-click="addRow()" class="btn btn-default pull-right">add</button>
              <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
              <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
            </div> 
          </form>
        </div>
        <br>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-8 col-xs-offset-2 background">
      <h3>Published by Jeff</h3>
      <div class="col-xs-4" ng-repeat = "pub in jeffweiner.published">
        <a href="{{pub.link}}"><img ng-src="{{pub.imgUrl}}" alt="" style="height: 100px"></a><br>
        <u>
          <span>{{pub.title}}</span>
          <br>
          <span>{{pub.time}}</span>
        </u>  
      </div>
    </div>

    <div class="clearfix"></div>
    
    <!-- Summary -->
    <div class="col-xs-8 col-xs-offset-2 background">
      <h4>Summary</h4>
      <div ng-controller="EditableTableCtrlSummary">
          <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <table class="extra-info" class="table table-bordered table-hover table-condensed">
             <tr ng-repeat = "sum in jeffweiner.summary | filter:filterRow">
                <td><ul><li><span editable-textarea="sum.content" e-form="tableform" e-cols="100" e-rows="3" onbeforesave="checkName($data)">{{sum.content || 'empty'}}</span></td></li></ul>
                <td><button type="button" ng-show="tableform.$visible" ng-click="deleteRow(sum.id)" class="btn btn-danger pull-right">Del</button></td>
              </tr>
            </table>
            <!-- buttons -->
            <div class="btn-edit">
              <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                Edit
              </button>
            </div>
            <br>
            <div class="btn-form" ng-show="tableform.$visible">
              <button type="button" ng-disabled="tableform.$waiting" ng-click="addRow()" class="btn btn-default pull-right">add</button>
              <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
              <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
            </div> 
          </form>
        </div>
        <br>
    </div>
    <!-- End of Summary -->

    <div class="clearfix"></div>

    <!-- Experience -->
    <div class="col-xs-8 col-xs-offset-2 background">
      <h4>Experience</h4>
      <div ng-controller="EditableTableCtrlExperience">
          <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <table class="extra-info" class="table table-bordered table-hover table-condensed">
             <tr ng-repeat = "exp in jeffweiner.experience | filter:filterRow">
                <td style="width:100%"><ul><li><strong><span editable-text="exp.job" e-form="tableform" e-cols="50" e-rows="1" onbeforesave="checkName($data)">{{exp.job || 'empty'}}</span></strong><br><span editable-text="exp.company" e-form="tableform" e-cols="50" e-rows="1" onbeforesave="checkName($data)">{{exp.company || 'empty'}}</span><br><span editable-text="exp.time" e-form="tableform" e-cols="50" e-rows="1" onbeforesave="checkName($data)">{{exp.time || 'empty'}}</span></td></li></ul>
                <td><center><img ng-src="{{exp.imgUrl}}" alt=""></center></td>
                <td><button type="button" ng-show="tableform.$visible" ng-click="deleteRow(exp.id)" class="btn btn-danger pull-right">Del</button></td>
              </tr>
            </table>
            <!-- buttons -->
            <div class="btn-edit">
              <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                Edit
              </button>
            </div>
            <br>
            <div class="btn-form" ng-show="tableform.$visible">
              <button type="button" ng-disabled="tableform.$waiting" ng-click="addRow()" class="btn btn-default pull-right">add</button>
              <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
              <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
            </div> 
          </form>
        </div>
        <br>
    </div>
    <!-- End of Experience -->
    
    <div class="clearfix"></div>

    <!-- Projects -->
    <div class="col-xs-8 col-xs-offset-2 background">
      <h4>Projects</h4>

      <div ng-controller="EditableTableCtrlProject">
          <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <table class="extra-info" class="table table-bordered table-hover table-condensed">
             <tr ng-repeat = "pro in jeffweiner.project | filter:filterRow">
                <td><ul><li><strong><span editable-text="pro.name" e-form="tableform" e-cols="50" e-rows="1" onbeforesave="checkName($data)">{{pro.name || 'empty'}}</span></strong><br><span editable-textarea="pro.about" e-form="tableform" e-cols="50" e-rows="3" onbeforesave="checkName($data)">{{pro.about || 'empty'}}</span><br>Team members:&nbsp<span editable-text="pro.member" e-form="tableform" e-cols="70" e-rows="3" onbeforesave="checkName($data)">{{pro.member || 'empty'}}</span></td></li></ul>
                <td><button type="button" ng-show="tableform.$visible" ng-click="deleteRow(pro.id)" class="btn btn-danger pull-right">Del</button></td>
              </tr>
            </table>
            <!-- buttons -->
            <div class="btn-edit">
              <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                Edit
              </button>
            </div>
            <br>
            <div class="btn-form" ng-show="tableform.$visible">
              <button type="button" ng-disabled="tableform.$waiting" ng-click="addRow()" class="btn btn-default pull-right">add</button>
              <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
              <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
            </div> 
          </form>
        </div>
        <br>
    </div>
    <!-- End of Volunteer -->

    <div class="clearfix"></div>
    
    <!-- Skill -->
    <div class="col-xs-8 col-xs-offset-2 background">
      <h4>Skill</h4>
      <div ng-controller="EditableCtrlSkill">
       <span ng-repeat="sk in jeffweiner.skill">
        <button type="button" editable-text="sk.value" e-form="Btnform" shown="true" class="btn btn-default">{{sk.value}}</button>
         <button ng-click="Btnform.$show()" ng-hide="Btnform.$visible"><img src="img/edit.png" alt="Edit"></button>
         <button type="button" ng-click="delete(sk.value)"><img src="img/del.png" alt="del"></button>&nbsp&nbsp
        </span> 
        <br>    
        <button class="btn btn-default pull-right" ng-click="addItem()">add</button>  
      </div>
      <br><br>
    </div>
    <!-- End of Skill -->

    <div class="clearfix"></div>
    
    <!-- Education -->
    <div class="col-xs-8 col-xs-offset-2 background">
      <h4>Education</h4>
      <div ng-controller="EditableTableCtrlEducation">
          <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <table class="extra-info" class="table table-bordered table-hover table-condensed">
             <tr ng-repeat = "edu in jeffweiner.education | filter:filterRow">
                <td style="width:100%"><ul><li><strong><span editable-text="edu.school" e-form="tableform" e-cols="50" e-rows="1" onbeforesave="checkName($data)">{{edu.school || 'empty'}}</span></strong><br><span editable-text="edu.major" e-form="tableform" e-cols="50" e-rows="1" onbeforesave="checkName($data)">{{edu.major || 'empty'}}</span><br><span editable-text="edu.time" e-form="tableform" e-cols="50" e-rows="1" onbeforesave="checkName($data)">{{edu.time || 'empty'}}</span></td></li></ul>
                <td><button type="button" ng-show="tableform.$visible" ng-click="deleteRow(edu.id)" class="btn btn-danger pull-right">Del</button></td>
              </tr>
            </table>
            <!-- buttons -->
            <div class="btn-edit">
              <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                Edit
              </button>
            </div>
            <br>
            <div class="btn-form" ng-show="tableform.$visible">
              <button type="button" ng-disabled="tableform.$waiting" ng-click="addRow()" class="btn btn-default pull-right">add</button>
              <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
              <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
            </div> 
          </form>
        </div>
        <br>
      
    </div>
  </div>
  <!-- End of Education -->

</body>
</html>